
<div class="row">
    <div class="col-lg-8">
        <div class="blog-single-contetn">
            <div class="leave-comment-form">
                {{ form_start(form) }}

                {{ form_widget(form) }}
                <button class="btn btn-7">{{ button_label|default('Submit') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>




