{% extends 'base.html.twig' %}

{% block title %}New Exercice{% endblock %}

{% block body %}
   
<section id="team-area" class="pt-100 pb-150">

        <div class="container">
            <div class="team-content">
              
                <div class="row text-center pt-100">
                    <div class="col-lg-12 ">
                     <h1>Create new Exercice</h1>
                     <br>
                     <br>
                        <nav>
                        {{ include('exercice/_form.html.twig') }}
                            <a href="{{ path('exercice_index') }}">back to list</a>
                            
                        </nav>
                        <br>
                    </div>
                    <br>
                </div>
                <br>
            </div>
        </div>
    </section>

                
    


{% endblock %}
