{% extends 'base.html.twig' %}

{% block title %}Edit CategorieExercice{% endblock %}

{% block body %}
    <h1>Edit CategorieExercice</h1>

    {{ include('categorie_exercice/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categorie_exercice_index') }}">back to list</a>

    {{ include('categorie_exercice/_delete_form.html.twig') }}
{% endblock %}
